@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Bangers&family=Dancing+Script:wght@700&family=Fleur+De+Leah&family=Great+Vibes&family=Imperial+Script&family=Oleo+Script+Swash+Caps:wght@400;700&family=Orelega+One&family=Oswald:wght@500;700&family=Playfair+Display:ital,wght@0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300&family=Water+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homeSection {
  min-height: 97vh;
  margin: 1rem;
  padding: 3rem;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5)
    ),
    url(../assets/img/background2.jpg);
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.menüBar {
  margin-top: 2rem;
}
.menuBar > ul > li {
  display: inline-block;
  list-style-type: none;
  background-color: black;
  color: #f2f2f2;
  padding: 1.8rem;
  width: 150px max-content;
  margin-right: 1.3rem;
  text-decoration: none;
  box-shadow: inset 0 0 1rem 0 #6edcd9, 0 0 1rem 0 #6edcd9;
  border-radius: 100vw;
  border: 0.15rem solid rgba(14, 212, 206, 0.7);
}

a {
  color: #6edcd9;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
}

.menuBar > ul > li:hover {
  background-color: gray;
  color: black;
  transition: 600ms ease-out;
  transform: scale(1.1);
}
.hobbyParent {
  position: relative;
}
.hobbyChild {
  position: absolute;
  display: none;
  list-style-type: none;
  top: 20px;
  left: 100%;
}

.hobbyChild > li {
  border: 0.1rem solid rgba(110, 220, 217, 0.7);
  border-radius: 3rem;
  padding: 1.2rem;
  font-family: "Playfair Display", serif;
  background-color: black;
  box-shadow: inset 0 0 1rem 0 #6edcd9, 0 0 1rem 0 #6edcd9;
  text-align: center;
}

.hobbyParent:hover .hobbyChild {
  display: block;
}
/* facebook icon */
.menuBar i {
  font-size: 3rem;
  float: right;
  color: #3b5998;
  margin: 1rem 0.5rem;
}
/* icon instagram */
.menuBar ul > a:nth-of-type(1) i {
  font-size: 3.5rem;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 3rem;
}

.menuBar ul > a:nth-of-type(1) i:hover {
  transform: scale(1.2);
  transition: 600ms ease-in;
}

/* facebook hover */
.menuBar i:hover {
  transform: scale(1.2);
  transition: 600ms ease-in;
}

.heading {
  /* position: absolute; */
  background: linear-gradient(
    90deg,
    #042a2a,
    #0b5353,
    #eb7eeb,
    #0b5353,
    #eb7eeb,
    #0b5353,
    #042a2a
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke: 2px #2f4f4f; */
  text-align: center;
  font-size: 7rem;
  margin-top: 9rem;
  font-family: "Arizonia", cursive;
  text-shadow: 0.06em 0.06em #6edcd9;
}

.heading2 {
  background: linear-gradient(
    90deg,
    #042a2a,
    #0b5353,
    #eb7eeb,
    #0b5353,
    #eb7eeb,
    #0b5353,
    #042a2a
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke: 2px #2f4f4f; */
  text-align: center;
  word-spacing: 1rem;
  font-size: 5rem;
  margin-top: 9rem;
  font-family: "Arizonia", cursive;
  text-shadow: 0.4rem 0.4rem lightskyblue;
}
#aboutMe {
  /* border: 5px solid black; */
  height: 100vh;
  margin: 0.8rem;
  padding: 0.8rem;
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.8)
    ),
    url(../assets/img/Moldova_logo_pantone_vertical_overblack.jpg);
  background-size: cover;
  background-position: 0% 75%;
  background-repeat: no-repeat;
  border-radius: 15px;
  position: relative;
}
.biography h1 {
  font-size: 5rem;
  text-align: center;
  color: black;
  margin-top: 1rem;
  padding: 0.3rem;
  text-shadow: 0.1rem 0.1rem #d3d3d3;
  font-family: "Orelega One", cursive;
  letter-spacing: 0.5rem;
}
.textStyle {
  color: black;
  text-shadow: 0.04rem 0.04rem rgb(152, 48, 48);
}
.picAboutMe {
  background: url(../assets/img/me2020.jpg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  width: 15vw;
  aspect-ratio: 1/1.3;
  float: right;
  border: 0.2rem solid #696969;
  border-radius: 55px;
  margin: 2rem;
  /* position: absolute;
  top: 10px; */
  /* overflow: hidden; */
}

.picAboutMe:hover {
  transform: scale(1.1);
  transition: 600ms ease-in-out;
}

.description p {
  text-align: justify;
  margin: 1em;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  text-shadow: 0.05rem 0.05rem lightsteelblue;
  color: black;
  /* padding: 0.5rem; */
}
.picAboutMe1,
.picAboutMe2 {
  background: url(../assets/img/misha1.JPG);
  display: inline-block;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  width: 18vw;
  aspect-ratio: 1/1.3;
  border: 0.2rem solid #696969;
  border-radius: 55px;
  margin: 3rem;
}

.picAboutMe1:hover {
  transform: rotateY(180deg);
  transition: 3s ease-in;
  cursor: col-resize;
}

#linkMoldova {
  background: rgb(245, 4, 4);
  background: linear-gradient(
    90deg,
    rgba(245, 4, 4, 1) 0%,
    rgba(231, 214, 12, 0.8183648459383753) 49%,
    rgba(0, 48, 255, 1) 100%
  );
  border-radius: 1.2rem;
  width: max-content;
  position: absolute;
  bottom: 0.8rem;
  left: 40%;
  padding: 0.4rem;
}
#linkMoldova > a {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-shadow: 0.07rem 0.07rem rgb(152, 48, 48);
  font-family: "Orelega One", cursive;
}

.picAboutMe2 {
  background: url(../assets/img/Valeria1.jpg);
  background-size: 100%;
  /* background-position: top; */
  background-repeat: no-repeat;
  object-fit: cover;
  float: right;
}
.country {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-shadow: 0.07rem 0.07rem rgb(152, 48, 48);
  font-family: "Orelega One", cursive;
}
